<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="primary">
      <ion-button fill="outline" (click)="addTask()">
        Add
        <ion-icon slot="end" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-list style="display:contents;">
    <ion-item *ngIf="showLoadingAlert" color="primary">
      <ion-label class="ion-text-wrap">
        Loading...
      </ion-label>
      <ion-spinner name="crescent"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="showErrorAlert" color="danger">
      <ion-label class="ion-text-wrap">
        {{ errorMessage }}
      </ion-label>
      <ion-icon name="cloud-offline-outline" size="large" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-label color="tertiary">
        <p>Slide rows to mark as completed, update or delete tasks. Click on row to show task detail.</p>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-list [inset]="true">
    <ion-item-sliding *ngFor="let task of tasks">
      <ion-item [button]="true" [routerLink]="['/show-task', task.id]">
        <ion-icon aria-hidden="true" name="hourglass-outline" slot="start" color="warning" *ngIf="task.status == 0"></ion-icon>
        <ion-icon aria-hidden="true" name="checkmark-circle-outline" slot="start" color="success" *ngIf="task.status == 1"></ion-icon>
        <ion-label>
          <h2>{{ task.title }}</h2>
          <p>{{ task.date | date: 'dd/MM/YYYY' }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="success" (click)="markAsCompletedTask(task.id)" *ngIf="task.status == 0">
          <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" (click)="editTask(task.id)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteTask(task.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
