<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="primary">
      <ion-button fill="outline" (click)="goBackTask()">
        Go back
        <ion-icon slot="end" name="return-up-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Show Task</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-list style="display:contents;">
    <ion-item *ngIf="showLoadingAlert" color="primary">
      <ion-label class="ion-text-wrap">
        Loading...
      </ion-label>
      <ion-spinner name="crescent"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="showErrorAlert" color="danger">
      <ion-label class="ion-text-wrap">
        {{ errorMessage }}
      </ion-label>
      <ion-icon name="cloud-offline-outline" size="large" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="login-form">
    <h1>{{ task.title }}</h1>
  </div>
</ion-content>
